@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Shadows+Into+Light+Two&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: Pangolin, sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #402E32;
    background-color: #FFF8F0;
    
}


img {
    max-width: 100%;
}

/* heading and logo */

h1, h2, h3 {
    font-family: "Shadows Into Light Two", sans-serif;
    letter-spacing: 4px;
    color:#402E32;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
}

nav h1 {
    padding-left: 9px;
    padding-top: 12px;
    font-size: 35px;
    
}

/* navigation links */

.logo {
    max-width: 100px;
    float: inline-start;
}

nav ul {
    text-align: end;
}

.menu {
    font-size: 120%;
    letter-spacing: 4px;
    text-align: center;
}

.menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    padding-top: 30px;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu a:hover {
    border-bottom: 1px solid #402E32;
}

.active {
    border-bottom: 1px solid #402E32;
}

/* home hero image */

#hero-outer {
    overflow: hidden;
}

#hero-outer h1 {
    text-align: center;
    font-size: 200%;
    color: #47342F;
    margin-top: 35px;
    padding-bottom: 45px;
}

#hero-image {
    min-height: 600px;
    max-width: none;
    background: url(../images/home-hero-one.webp) no-repeat center center;
    margin-top: 20px;
}

/* home top whisker */


.top-cat-text {
    font-size: 22px;
    margin-left: 300px;
}

.top-cat-text h3 {
    font-size: 30px;
    text-align: center;
    padding-right: 320px;
}

.top-cat-text p {
    text-align: center;
    margin-right: 315px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* home middle whisker */

#middle-whisker h1 {
    font-size: 300%;
    margin: 30px 0 0 2px;
    padding-bottom: 40px;
    text-align: center;
}

.middle-cat-image {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 15%;
}

.middle-cat-image p {
    margin-right: 20%;
    padding-right: 20%;
    padding-top: 20px;
}

.middle-cat-text {
    font-size: 22px;
    padding-left: 30px;
    float: right;
}

/* home bottom whisker */

#bottom-whisker h1 {
    font-size: 300%;
    margin-left: 755px;
    margin-top: 70px;
    padding-bottom: 40px;
}

.bottom-cat-image {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row-reverse;
    margin-right: 320px;
    padding-bottom: 90px;
}

.bottom-cat-image p {
    margin-left: 20%;
    padding-left: 20%;
    padding-top: 25px;
}

.bottom-cat-text {
    font-size: 22px;
    float: left;
    padding-right: 15px;
}

/* footer */

footer {
    margin-top: 50px;
    background-color: #402E32;
}

.social-networks {
    text-align: center;
    color: #47342F;
    margin-right: 20px;
    padding-top: 30px;
}

.social-networks > li {
    display: inline;
    color: #FFF8F0;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 2%;
    color: #FFF8F0;
}

footer > p {
    text-align: center;
    font-size: 20px;
    color: #FFF8F0;
}

/* people hero image */

#people-hero-outer {
    overflow: hidden;
}

#people-hero-outer h1 {
    text-align: center;
    font-size: 250%;
    color: #47342F;
    margin-top: 60px;
    padding-bottom: 30px;
}

#people-hero-image {
    min-height: 600px;
    max-width: none;
    background: url(../images/people-hero-image.webp) no-repeat center center;
    margin-top: 20px;
}

/* people storytime */

#story-time {
    padding-left: 120px;
    padding-right: 120px;
}

.mo-eva-image {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    margin-left: 120px;
}

.mo-eva-image img {
    max-width: 700px;
    padding-top: 25px;
    margin-right: 70px;
}

.mo-eva-image h2 {
    padding-top: 20px;
}

.mo-eva-image p {
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 50px;
    padding-top: 20px;
}

.mo-eva-text {
    font-size: 21px;
}

/* people middle rescue */

#middle-rescue h1 {
    font-size: 45px;
    margin-left: 120px;
    padding-top: 100px;
    padding-bottom: 20px;
}

.middle-rescue-image {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row-reverse;
    max-width: 100%;
    max-height: 100%;
    margin-right: 35px;
}

.middle-rescue-text {
    margin-left: 120px;
    padding-top: 50px;
    padding-right: 20px;
    font-size: 21px;
}

/* people bottom cafe */

#bottom-people-cafe h1 {
    font-size: 50px;
    margin-left: 120px;
    padding-top: 2%;
    padding-bottom: 20px;
}

.coffee-image-container {
    float: left;
}

.pastry-coffee-container {
    float: right;
}

.bottom-coffee-image img {
    max-width: 100;
    padding-left: 60px;
    margin-right: 60px;
    margin-left: 60px;
}

.bottom-pastry-image img{
    max-width: 100%;
    margin-right: 40px;
}

.bottom-people-text {
   text-align: center;
   margin-left: 500px;
   padding-top: 30px;
   padding-bottom: 100px;
   font-size: 21px;
   max-width: 40%;
}

/* cats hero image */

#cats-hero-outer {
    overflow: hidden;
}

#cats-hero-outer h1 {
    text-align: center;
    font-size: 250%;
    color: #47342F;
    margin-top: 30px;
    padding-bottom: 30px;
}

#cats-hero-image {
    min-height: 600px;
    max-width: none;
    background: url(../images/cat-hero-image.webp) no-repeat center center;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* cats gallery */

#the-cats-gallery {
    height: 600px;

}

#the-cats h2 {
    text-align: center;
    font-size: 250%;
    color: #47342F;
}

/* cat photos */

#cat-photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#cat-photos h2 {
    text-align: center;
    font-size: 250%;
    color: #47342F;
    margin-top: 30px;
    padding-bottom: 30px;
}

#cat-photos > img {
    max-width: 100%;
}

.cats-text {
    text-align: center;
    text-indent: 10px;
    margin-left: 550px;
    padding-top: 25px;
    font-size: 20px;
    max-width: 40%;
}

/* booking here image */

.book-here-section {
    clear: left;
    background: url(../images/booking-background.webp);
    background-size: cover;
    background-position: center;
    min-height: 900px;
    margin-top: 20px;
}

.book-here-form {
    margin-top: 100px;
    margin-right: 10%;
    color: #47342F;
    background-color: #cec1bd;
    max-width: 500px;
    position: absolute;
    left: 10%;
    padding: 40px;
    border-radius: 15px;
}

.book-here-form > h2 {
    color:#402E32;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #402E32;
    min-width: 100%;
    min-height: 25px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #402E32;
    border-radius: 15px;
}

.text-input:hover {
    border-color: #402E32;
}

.book-here-button {
    margin-top: 20px;
    border-radius: 2px;
    padding-top: 15px;
    padding-right: 32px;
    padding-bottom: 15px;
    padding-left: 32px;
    text-align: center;
    font-size: 100%;
    background-color: #FFF8F0;
    color:#402E32;
    display: block;
}

.book-here-button {
    background-color: #402E32;
    color: #FFF8F0;
    border-radius: 10px;
}

.hours-operation {
    margin-top: 620px;
    margin-left: 328px;
    border: 3px solid #FFF8F0;
    max-width: 15%;
    border-radius: 10px;
    background-color: #FFF8F0;
    
}

.hours-operation h3 {
    text-align: center;
    font-size: 22px;
}

.hours-operation p {
    text-align: center;
    font-size: 17px;
}

.our-location {
    margin-top: 20px;
    margin-left: 328px;
    border: 3px solid #FFF8F0;
    max-width: 15%;
    border-radius: 10px;
    background-color: #FFF8F0;
}

.our-location h3 {
    text-align: center;
    font-size: 22px;
}

.our-location p {
    text-align: center;
    font-size: 17px;
}

/* Thank You Form */

#thankyou-page {
    text-align: center;
    padding-top: 60px;
}

#thankyou-text h2 {
    font-size: 30px;
}

#thankyou-text p {
    font-size: 22px;
}