@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a
}

/* Heading and Logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:#252525;
}

#logo {
    float: left;
    width: 550px;
    margin-left: 30px;
}

/* Navigation Links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    text-align: center;
}

#menu, #logo {
    line-height: 50px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Hero Image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/home-hero-one.webp) no-repeat center center;
}

/* our ethos */

#main-idea {
    height: 600px;
    text-align: center;
}

#top-whisker {
    padding-top: 30px;
    width: 33%;
    float: left;
}