@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Shadows+Into+Light+Two&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Pangolin, sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #402E32;
    background-color: #FFF8F0; 
}

/* heading and logo */

h1, h2, h3 {
    font-family: "Shadows Into Light Two", sans-serif;
    letter-spacing: 4px;
    color:#402E32;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
}

nav h1 {
    padding-left: 9px;
    padding-top: 12px;
    font-size: 35px;
    
}

/* navigation links */

.logo {
    max-width: 100px;
    float: inline-start;
}

nav ul {
    text-align: end;
}

.menu {
    font-size: 120%;
    letter-spacing: 4px;
    text-align: center;
}

.menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    padding-top: 30px;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu a:hover {
    border-bottom: 1px solid #402E32;
}

.active {
    border-bottom: 1px solid #402E32;
}

/* home hero image */

#hero-outer {
    overflow: hidden;
}

#hero-outer h1 {
    text-align: center;
    font-size: 200%;
    color: #47342F;
    margin-top: 35px;
    padding-bottom: 45px;
}

#hero-image {
    min-height: 600px;
    max-width: none;
    background: url(../images/home-hero-one.webp) no-repeat center center;
    margin-top: 20px;
}

/* home top whisker */

.top-cat-text {
    font-size: 22px;
    margin-left: 300px;
}

.top-cat-text h3 {
    font-size: 30px;
    text-align: center;
    padding-right: 320px;
}

.top-cat-text p {
    text-align: center;
    margin-right: 315px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* home middle whisker */

#middle-whisker h1 {
    font-size: 300%;
    margin: 30px 0 0 2px;
    padding-bottom: 40px;
    text-align: center;
}

.middle-cat-image {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 15%;
}

.middle-cat-image p {
    margin-right: 20%;
    padding-right: 20%;
    padding-top: 20px;
}

.middle-cat-text {
    font-size: 22px;
    padding-left: 30px;
    float: right;
}

/* home bottom whisker */

#bottom-whisker h1 {
    font-size: 300%;
    margin-left: 755px;
    margin-top: 70px;
    padding-bottom: 40px;
}

.bottom-cat-image {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row-reverse;
    margin-right: 320px;
    padding-bottom: 90px;
}

.bottom-cat-image p {
    margin-left: 20%;
    padding-left: 20%;
    padding-top: 25px;
}

.bottom-cat-text {
    font-size: 22px;
    float: left;
    padding-right: 15px;
}

/* footer */

footer {
    margin-top: 50px;
    background-color: #402E32;
}

.social-networks {
    text-align: center;
    color: #47342F;
    margin-right: 20px;
    padding-top: 30px;
}

.social-networks > li {
    display: inline;
    color: #FFF8F0;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 2%;
    color: #FFF8F0;
}

footer > p {
    text-align: center;
    font-size: 20px;
    color: #FFF8F0;
}

/* people hero image */

#people-hero-outer {
    overflow: hidden;
}

#people-hero-outer h1 {
    text-align: center;
    font-size: 250%;
    color: #47342F;
    margin-top: 60px;
    padding-bottom: 30px;
}

#people-hero-image {
    min-height: 600px;
    max-width: none;
    background: url(../images/people-hero-image.webp) no-repeat center center;
    margin-top: 20px;
}

/* people storytime */

#story-time {
    padding-left: 120px;
    padding-right: 120px;
}

.mo-eva-image {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    margin-left: 120px;
}

.mo-eva-image img {
    max-width: 700px;
    padding-top: 25px;
    margin-right: 70px;
}

.mo-eva-image h2 {
    padding-top: 20px;
}

.mo-eva-image p {
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 50px;
    padding-top: 20px;
}

.mo-eva-text {
    font-size: 21px;
}

/* people middle rescue */

#middle-rescue h1 {
    font-size: 45px;
    margin-left: 400px;
    padding-top: 100px;
    padding-bottom: 20px;
}

.middle-rescue-image {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row-reverse;
    min-width: 100%;
    min-height: 100%;
    margin-right: 35px;
}

.middle-rescue-text {
    margin-left: 120px;
    padding-top: 50px;
    padding-right: 20px;
    font-size: 21px;
}

/* people bottom cafe */

#bottom-people-cafe h1 {
    font-size: 50px;
    margin-left: 430px;
    padding-top: 2%;
    padding-bottom: 20px;
}

.bottom-coffee-image {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 200px;
}

.bottom-coffee-image p {
    margin-right: 20%;
    padding-right: 20%;
    padding-top: 20px;
}

.bottom-people-text p{
    font-size: 22px;
    padding-left: 30px;
    float: right;
}

/* cats hero image */

#cats-hero-outer {
    overflow: hidden;
}

#cats-hero-outer h1 {
    text-align: center;
    font-size: 250%;
    color: #47342F;
    margin-top: 30px;
    padding-bottom: 30px;
}

#cats-hero-image {
    min-height: 600px;
    max-width: none;
    background: url(../images/cat-hero-image.webp) no-repeat center center;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* cats gallery */

#the-cats-gallery {
    height: 600px;

}

#the-cats h2 {
    text-align: center;
    font-size: 250%;
    color: #47342F;
}

/* cat photos */

#cat-photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#cat-photos h2 {
    text-align: center;
    font-size: 250%;
    color: #47342F;
    margin-top: 30px;
    padding-bottom: 30px;
}

#cat-photos > img {
    max-width: 100%;
}

.cats-text {
    text-align: center;
    text-indent: 10px;
    margin-left: 550px;
    padding-top: 25px;
    font-size: 20px;
    max-width: 40%;
}

.cats-text p {
    padding-right: 20px;
}

/* booking here image */

.book-here-section {
    clear: left;
    background: url(../images/booking-background.webp);
    background-size: cover;
    background-position: center;
    min-height: 900px;
    margin-top: 20px;
}

.book-here-form {
    margin-top: 100px;
    margin-right: 10%;
    color: #47342F;
    background-color: #cec1bd;
    max-width: 500px;
    position: absolute;
    left: 10%;
    padding: 40px;
    border-radius: 15px;
}

.book-here-form > h2 {
    color:#402E32;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #402E32;
    min-width: 100%;
    min-height: 25px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #402E32;
    border-radius: 15px;
}

.text-input:hover {
    border-color: #402E32;
}

.book-here-button {
    margin-top: 20px;
    border-radius: 2px;
    padding-top: 15px;
    padding-right: 32px;
    padding-bottom: 15px;
    padding-left: 32px;
    text-align: center;
    font-size: 100%;
    background-color: #FFF8F0;
    color:#402E32;
    display: block;
}

.book-here-button {
    background-color: #402E32;
    color: #FFF8F0;
    border-radius: 10px;
}

.hours-operation {
    margin-top: 620px;
    margin-left: 225px;
    border: 3px solid #FFF8F0;
    max-width: 500px;
    border-radius: 10px;
    background-color: #FFF8F0;
}

.hours-operation h3 {
    text-align: center;
    font-size: 22px;
}

.hours-operation p {
    text-align: center;
    font-size: 17px;
}

.our-location {
    margin-top: 20px;
    margin-left: 225px;
    border: 3px solid #FFF8F0;
    max-width: 500px;
    border-radius: 10px;
    background-color: #FFF8F0;
}

.our-location h3 {
    text-align: center;
    font-size: 22px;
}

.our-location p {
    text-align: center;
    font-size: 17px;
}

/* Thank You Form */

#thankyou-page {
    text-align: center;
    padding-top: 60px;
}

#thankyou-text h2 {
    font-size: 30px;
}

#thankyou-text p {
    font-size: 22px;
}

/* media queries */

/* For screens from 1600px wide and down */
@media screen and (max-width: 1600px) {

/* Home Media Query */

    #bottom-whisker h1 {
        margin-left: 690px;
    }

    .middle-cat-text p {
        padding: 10px;
    }

    .bottom-cat-text {
        padding-right: 30px;
    }

    .bottom-cat-image {
        margin-right: 120px;
    }

    .bottom-cat-image p {
        padding-left: 10px;
        padding-top: 10px;
        margin-top: 10px;
    }

/* People Media Query */

    #bottom-people-cafe h1 {
        margin-left: 116px;
        padding-top: 55px;
    }

    .middle-rescue-text {
        padding-top: 15px;
    }

    .bottom-people-text p {
        margin-left: 425px;
    }

    .bottom-coffee-image {
        margin-left: 120px;
    }

    .bottom-people-text p {
        margin-right: 1px;
        margin-left: 0;
    }
/* Cat Media Query */

    .cats-text {
        margin-left: 485px;
    }

/* Book Here Media Query */

    .hours-operation {
        margin-left: 200px;
    }

    .our-location {
        margin-left: 200px;
    }

/* Thank You Media Query */

    footer {
        margin-top: 100px;
    }
}

/* For screens from 1280px wide and down */
@media screen and (max-width: 1280px) {

/* Home Media Query */

    #bottom-whisker h1 {
        margin-left: 510px;
    }

    .middle-cat-image {
        margin-left: 60px;
    }

    .middle-cat-image p {
        margin-right: 30px;
    }

    .middle-cat-text {
        margin-top: 0;
    }

    .bottom-cat-image {
        margin-right: 30px;
     }

    .bottom-cat-image p {
        padding-top: 25px;
        margin-left: 20px;
        padding-left: 70px;
     }

/* People Media Query */

     #people-hero-outer h1 {
        margin-top: 30px;
     }

     #bottom-people-cafe h1 {
        margin-left: 2px;
     }

     #middle-rescue h1 {
        margin-left: 380px;
        padding-top: 60px;
     }

     .mo-eva-image p {
        margin-left: 0;
     }

     .middle-rescue-image {
        margin-right: 0;
        min-width: none;
        min-height: none;

     }
     .middle-rescue-image img {
        margin-right: 0;
        padding-top: 45px;
     }

     .middle-rescue-text {
        margin-left: 0;
     }

     .bottom-coffee-image {
        margin-left: 1px;
     }

     .bottom-coffee-image img {
        width: 600px;
     }

     .bottom-people-text p{
        padding-top: 10px;
        padding-right: 30px;
        margin-left: 0;
     }

/* Cat Media Query */

     #cats-hero-outer h1 {
        font-size: 220%;
     }

     #the-cats h2 {
        font-size: 210%;
     }

     #the-cats-gallery {
        height: 495px;
     }

    .cats-text {
        margin-left: 280px;
        margin-right: 230;
    }

    .cats-text p {
        width: 720px;
    }

/* Book Here Media Query */

    .book-here-section {
        min-height: 960px;
    }

    .book-here-form {
        width: 395px;
    }

    .hours-operation {
        margin-left: 130px;
        max-width: 465px;
        margin-top: 630px;
    }

    .our-location {
        margin-left: 130px;
        max-width: 465px;
    }
}

/* For screens from 768px wide and down */
@media screen and (max-width: 768px) {

/* Home Media Query */

    nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: center;
    }

    #hero-outer h1 {
        font-size: 180%;
    }

    #bottom-whisker h1 {
        margin-left: 260px;
        margin-top: 10px;
    }

    .top-cat-text {
        margin-left: 0;
    }

    .top-cat-text h3 {
        padding: 0;
    }

    .top-cat-text p {
        margin-right: 0;
    }

    .middle-cat-image {
        flex-direction: column;
    }

    .middle-cat-text {
        padding-left: 0;
        float: none;
        margin-right: 0;
        margin-top: 42px;
    }

    .bottom-cat-image img {
        margin-left: 20px;
    }

    .bottom-cat-image {
        margin-right: 0;
        flex-direction: column;
        width: 600px;
        margin-left: 65px;
    }

/* People Media Query */

    #people-hero-outer h1 {
        font-size: 35px;
    }

    #bottom-people-cafe h1 {
        font-size: 45px;
        margin-left: 120px;
        padding-top: 0;
    }

    #middle-rescue h1 {
        margin-left: 95px;
        padding-top: 20px;
    }

    .middle-rescue-image {
        display: grid;
        justify-content: center;
    }

    .middle-rescue-image img {
        padding-top: 0;
    }

    .bottom-coffee-image {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mo-eva-image {
        display: contents;
    }

    .mo-eva-image img {
        max-width: 600px;
    }

    .mo-eva-text {
        margin-right: 30px;
    }

    .mo-eva-image p {
        margin-left: 0;
        padding-right: 0;
        margin-right: 20px;
        width: 600px;
    }

/* Book Here Media Query */

    .hours-operation {
        margin-top: 550px;
    }
    .hours-operation, .our-location {
        margin-left: 35px;
        margin-bottom: 20px;
    }

    .book-here-section {
        min-height: 0%;
    }

    .book-here-form {
        margin-top: 20px;
        left: 30px;
    }

/* Cats Media Query */

    #cat-photos {
        column-count: 3;
    }

    .cats-text {
        margin-left: 70px;
        padding: 0;
    }

    .cats-text p {
        width: 600px;
    }

/* Thank You Media Query */

    #thankyou-page {
        padding-top: 85px;
    }
}

/* For screens from 400px wide and down */
@media screen and (max-width: 400px) {

/* Navigation Media Query */

    nav h1 {
        font-size: 25px;
    }

    .logo {
        padding-top: 10px;
    }

    .menu {
        font-size: 20px;
        letter-spacing: 0;
        padding-left: 25px;
    }

/* Home Media Query */

    #hero-image {
        min-height: 300px;
        background-image: url(../images/home-hero-one.webp);
        background-position: 28% 89%;
        background-size: cover;
    }
    #middle-whisker h1 {
        font-size: 35px;
    }

    #bottom-whisker h1 {
        margin-left: 95px;
        font-size: 35px;
    }
    
    .top-cat-text p {
        padding-bottom: 0;
    }

    .middle-cat-image img {
        width: 90%;
    }

    .middle-cat-image {
        align-items: center;
        flex-direction: column;
        margin-left: 6px;
    }

    .middle-cat-text {
        margin-top: 0;
    }

    .middle-cat-text p {
        padding-left: 45px;
        font-size: 20px;
    }

/* People Media Query */

    #people-hero-image {
        min-height: 300px;
        background-image: url(../images/people-hero-image.webp);
        background-position: 15% 85%;
        background-size: cover;
    }

    #middle-rescue h1 {
        margin-left: 60px;
        font-size: 35px;
    }

    #bottom-people-cafe h1 {
        font-size: 35px;
        margin-left: 65px;
    }

    #story-time {
        padding-left: 10px;
        padding-right: 10px;
    }

    .mo-eva-image img {
        max-width: 380px;
        padding-top: 0;
    }

    .mo-eva-image p {
        width: 350px;
    }

    .mo-eva-text {
        margin-left: 20px;
        font-size: 20px;
    }

    .middle-rescue-image {
        margin-left: 20px;
    }

    .middle-rescue-image img, .bottom-coffee-image img {
        width: 90%;
    }

    .middle-rescue-text {
        font-size: 20px;
    }

    .bottom-people-text p {
        padding-right: 25px;
        font-size: 20px;
    }

    .bottom-cat-image {
        width: 90%;
        margin-left: 20px;
    }

    .bottom-cat-image img {
        margin-left: 25px;
        width: 90%;
    }

    .bottom-cat-image p {
        padding-top: 10px;
        margin-left: 20px;
        padding-left: 20px;
    }

/* Cats Media Query */

    #cats-hero-image {
        background-image: url(../images/cat-hero-image.webp);
        background-position: 20% 20%;
        background-size: cover;
        min-height: 300px;
    }
    #cat-photos {
        column-count: 2;
        padding-top: 230px;
    }

    #cats-hero-outer h1 {
        font-size: 200%;
    }

    #cat-photos h2 {
        font-size: 200%;
    }

    .cats-text {
        margin-left: 20px;
        padding: 0;
    }

    .cats-text p {
        width: 350px;
    }

    .book-here-form {
        left: 20px;
        width: 280px;
    }

    .hours-operation, .our-location {
        margin-left: 25px;
        max-width: 345px;
    }

/* Thank you Media Query */

    #wnwb-circle-logo  img {
        width: 90%;
        padding-bottom: 20px;
    }
}
